<!DOCTYPE html><html><head><link rel="stylesheet" media="all" href="/production/assets/vendor/normalize.css/normalize.min.css" /><link rel="stylesheet" media="all" href="/production/assets/vendor/font-awesome/css/font-awesome.min.css" /><link rel="stylesheet" media="all" href="/production/assets/vendor/c3/c3.css" /><link rel="stylesheet" media="screen" href="/production/assets/application.800163952a9cf311b2d0.css" /><style>body {
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", sans-serif;
}</style><meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="64sEH4b941ry2JHgHg0jmB66GX8AsAs//+hV7lCXt5sTYDbah3jx5/FH1mH4uxHYGaPjv/bMODwJtjFmrl+Gpw==" /><link rel="shortcut icon" type="image/x-icon" href="https://d3r48p4ajaoh51.cloudfront.net/production/uploads/theme/favicon/8/a78a8d9d-28b1-408e-988f-e3ea995f5ede-logo-9067da1931652b1599689d7224204a1a.png" /><link rel="apple-touch-icon" type="image/png" href="https://d3r48p4ajaoh51.cloudfront.net/production/uploads/theme/apple_touch_icon/8/6d92f19f-ccee-4202-8142-89dd6df63c0f-logo-9067da1931652b1599689d7224204a1a.png" /><meta charset="UTF-8" />
<title>プロフィール設定 | スプラトゥーン2のコミュニティ|イカナカマ2</title>
<meta name="description" content="スプラトゥーン2のコミュニティ「イカナカマ2」で気の合うユーザーやチームの情報を集めよう！イベントや掲示板で交流して盛り上がろう！" />
<link rel="canonical" href="https://ikanakama.ink/users/130973/edit" />
<link rel="author" href="https://sikmi.com" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ikanakama.ink/users/130973/edit" />
<meta property="og:site_name" content="イカナカマ2" />
<meta property="og:title" content="プロフィール設定 | スプラトゥーン2のコミュニティ|イカナカマ2" />
<meta property="og:description" content="スプラトゥーン2のコミュニティ「イカナカマ2」で気の合うユーザーやチームの情報を集めよう！イベントや掲示板で交流して盛り上がろう！" />
<meta property="og:image" content="https://d3r48p4ajaoh51.cloudfront.net/production/uploads/theme/capture/8/23457318-c38e-4bf3-be3f-3b85d4827939-main.jpg" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="プロフィール設定 | スプラトゥーン2のコミュニティ|イカナカマ2" />
<meta name="twitter:description" content="スプラトゥーン2のコミュニティ「イカナカマ2」で気の合うユーザーやチームの情報を集めよう！イベントや掲示板で交流して盛り上がろう！" />
<meta name="twitter:image" content="https://d3r48p4ajaoh51.cloudfront.net/production/uploads/theme/capture/8/23457318-c38e-4bf3-be3f-3b85d4827939-main.jpg" />
<meta name="twitter:image:width" content="100" />
<meta name="twitter:image:height" content="100" /><meta content="width=device-width, maximum-scale=1, user-scalable=0" name="viewport" /><style>button:not(.button-none),
[type="button"]:not(.button-none),
[type="reset"]:not(.button-none),
input[type="submit"]:not(.button-none),
.button:not(.button-none) {
  background-color: #e5007f;
  border-color: #e5007f;
}.color, a.color, .ckeditor a {
  color: #e5007f;
}
.fa.active, .active > .fa:not(.white), .fa:not(.white):not(.without-hover):hover {
  color: #e5007f;
}
.accordions .accordion.opened .accordion_title:after {
  border-color: #e5007f;
}
.status_labels .status {
  color: #e5007f;
  border-color: #e5007f;
}
.notification_popup {
  background-color: #e5007f;
}
.notification_popup:before {
  border-bottom-color: #e5007f;
}
.tabs .tabs_inner .tab.active {
  color: #e5007f;
}
.tabs .tabs_inner .tab.active:after {
  background-color: #e5007f;
}
.active .tabicon svg g path,
.active .tabicon svg g polygon {
  color: #e5007f;
  fill: #e5007f;
}
.global_nav .global_nav--link:hover .global_nav--link--inner { background-color: #e5007f; }
.local_nav--link.active       { color: #e5007f; }
.local_nav--link.active:after { border-bottom-color: #e5007f; }
.local_nav--link.active .local_nav--link_star       { background-color: #e5007f; }
.local_nav--link.active .local_nav--link_star:after { border-top-color: #e5007f; }
.bordered_label {
  border-color: rgba(229, 0, 127, 0.5);
  color: rgba(229, 0, 127, 0.5);
}
.bordered_label.active {
  border-color: rgba(229, 0, 127, 1.0);
  color: rgba(229, 0, 127, 1.0);
}
.ribbon:before, .ribbon.large:before {
  border-left-color: #e5007f;
  border-top-color: #e5007f;
}
.ribbon:after, .ribbon.large:after {
  border-right-color: #e5007f;
  border-bottom-color: #e5007f;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.border-shadow-color {
  box-shadow: 0 0 0 3px #e5007f;
}
.border-shadow.border-shadow-color {
  box-shadow: 0 0 0 3px #e5007f, 0 0 0 6px #FFFFFF;
}
.special_name > div {
  background: #e5007f;
}
.floating_button {
  background: #e5007f;
}
.detail_container .detail_main .detail_cooperation_table .sub_text a {
  color: #e5007f;
}
.stepper--step.active:before {
  background: #e5007f;
}
.stepper--step.active .stepper--step--button {
  border-color: #e5007f;
  background: #e5007f;
}
.stepper--step.active .stepper--step--button.is-inverted span {
  color: #e5007f !important;
}</style><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-85200140-8', 'auto');ga('send', 'pageview');</script><script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head><body class="users-edit" style=""><div id="wrapper"><div id="header"><div class="header_container"><div class="header_inner"><a class="logo" href="/"><img alt="イカナカマ2" src="https://d3r48p4ajaoh51.cloudfront.net/production/uploads/theme/logo/8/50a4d771-479e-42ed-9834-fff0559af449-logo.png" /></a><div class="h1_text"> </div><div class="nav_icons"><a class="nav_icon" href="/my/web_notifs"><i class="fa fa-envelope"></i></a><a class="nav_icon" href="/my/stars"><i class="fa fa-heart"></i></a><a class="nav_icon new_image" data-dropdown="#dropdown_new" href="#"><img src="/images/icon_new@2x.png" alt="Icon new@2x" /></a><a class="nav_icon user_image" data-dropdown="#dropdown_user" href="#"><img src="https://d3r48p4ajaoh51.cloudfront.net/production/uploads/user/image/130973/thumb_762f1dba-3058-4561-ac2c-8ab2211eebdd.jpg" alt="Thumb 762f1dba 3058 4561 ac2c 8ab2211eebdd" /></a></div></div></div></div><div class="dropdown" id="dropdown_new"><div class="dropdown--block"><div class="dropdown--header">新規作成</div><a class="dropdown--link" href="/posts/new"><div class="dropdown--link--image"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="46px" height="40px" viewBox="0 0 46 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41.1 (35376) - http://www.bohemiancoding.com/sketch -->
    <title>Combined Shape</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M31.4204419,4.79347456 C30.8595957,2.05027397 28.4379846,0 25.5356413,0 L6.00721581,0 C2.68932626,0 0,2.69067779 0,6.00979704 L0,26.4362472 C0,33.6107499 5.82047993,39.4285714 13.0004058,39.4285714 L25.5356413,39.4285714 C28.8535309,39.4285714 31.5428571,36.7378936 31.5428571,33.4187744 L31.5428571,24.0369742 L27.6,28.0156755 L27.6,32.8506416 C27.6,34.3059521 26.4268386,35.4857143 24.9778826,35.4857143 L13.1428571,35.4857143 L13.1428571,29.5714419 C13.1428571,28.122068 11.9659997,26.9428571 10.5142724,26.9428571 L3.94285714,26.9428571 L3.94285714,6.5779298 C3.94285714,5.12261936 5.11601854,3.94285714 6.5649745,3.94285714 L24.9778826,3.94285714 C26.4260381,3.94285714 27.6,5.1218059 27.6,6.5779298 L27.6,8.64864773 L31.4204419,4.79347456 Z M45.5180952,6.42539683 C46.1606349,5.78285714 46.1606349,4.81904762 45.5180952,4.17650794 L41.8234921,0.481904762 C41.1809524,-0.160634921 40.2171429,-0.160634921 39.5746032,0.481904762 L36.6831746,3.37333333 L42.7873016,9.47746032 L45.5180952,6.42539683 Z M17.0857143,22.8101587 L17.0857143,28.9142857 L23.1898413,28.9142857 L40.8596825,11.0838095 L34.7555556,4.97968254 L17.0857143,22.8101587 Z" id="Combined-Shape" fill="#BBBBBB"></path>
    </g>
</svg></div><div class="dropdown--link--text">投稿作成</div></a><a class="dropdown--link" href="/teams/new"><div class="dropdown--link--image"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="46px" height="45px" viewBox="0 0 46 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41.1 (35376) - http://www.bohemiancoding.com/sketch -->
    <title>Group 14</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-14" fill="#BBBBBB">
            <path d="M4.78631977,13.6616698 C1.88713183,15.7495599 0,19.1543385 0,23 L11.1714286,23 C11.1714286,20.496709 11.9490463,18.1750403 13.2759014,16.2633745 C12.7005293,16.3718341 12.1068905,16.4285714 11.5,16.4285714 C8.88096261,16.4285714 6.50871919,15.3719209 4.78631977,13.6616698 L4.78631977,13.6616698 Z" id="Combined-Shape"></path>
            <path d="M11.5,13.8 C15.3107648,13.8 18.4,10.7107648 18.4,6.9 C18.4,3.08923523 15.3107648,0 11.5,0 C7.68923523,0 4.6,3.08923523 4.6,6.9 C4.6,10.7107648 7.68923523,13.8 11.5,13.8 L11.5,13.8 Z" id="Path"></path>
            <path d="M41.213656,13.6616939 C44.1126087,15.7493481 46,19.1537502 46,23 L34.8285714,23 C34.8285714,20.496709 34.0509537,18.1750403 32.7240986,16.2633745 C33.2994707,16.3718341 33.8931095,16.4285714 34.5,16.4285714 C37.1190251,16.4285714 39.4912585,15.3719308 41.213656,13.6616939 L41.213656,13.6616939 Z" id="Combined-Shape"></path>
            <path d="M34.5,13.8 C38.3107648,13.8 41.4,10.7107648 41.4,6.9 C41.4,3.08923523 38.3107648,0 34.5,0 C30.6892352,0 27.6,3.08923523 27.6,6.9 C27.6,10.7107648 30.6892352,13.8 34.5,13.8 L34.5,13.8 Z" id="Path"></path>
            <path d="M23,32.2 C28.0810197,32.2 32.2,28.0810197 32.2,23 C32.2,17.9189803 28.0810197,13.8 23,13.8 C17.9189803,13.8 13.8,17.9189803 13.8,23 C13.8,28.0810197 17.9189803,32.2 23,32.2 L23,32.2 Z" id="Path"></path>
            <path d="M31.2107355,31.5146469 C35.4921741,34.2344787 38.3333333,39.0187786 38.3333333,44.4666667 L7.66666667,44.4666667 C7.66666667,39.0187786 10.5078259,34.2344787 14.7892645,31.5146469 C16.9166166,33.5665326 19.8109258,34.8285714 23,34.8285714 C26.1890742,34.8285714 29.0833834,33.5665325 31.2107355,31.5146469 L31.2107355,31.5146469 Z" id="Combined-Shape"></path>
        </g>
    </g>
</svg></div><div class="dropdown--link--text">チーム作成</div></a><a class="dropdown--link" href="/events/new"><div class="dropdown--link--image"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="43px" height="46px" viewBox="0 0 43 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41.1 (35376) - http://www.bohemiancoding.com/sketch -->
    <title>Combined Shape</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M6.57142857,8.75732809 C8.12553682,8.01905179 9.2,6.43500306 9.2,4.6 C9.2,2.05949015 7.14050985,0 4.6,0 C2.05949015,0 0,2.05949015 0,4.6 C0,6.43500306 1.07446318,8.01905179 2.62857143,8.75732809 L2.62857143,45.6056429 C3.2655596,45.8642464 3.92485306,46 4.6,46 C5.27514694,46 5.9344404,45.8642464 6.57142857,45.6056429 L6.57142857,8.75732809 Z M42.0571429,9.64429964 C40.2968401,8.58070652 34.6053104,6.02290223 25.3839511,10.1730934 C16.2404883,14.2882262 10.8899112,11.7218123 9.2,10.6102355 L9.2,31.0414043 C10.8899112,32.1529811 16.2404883,34.719395 25.3839511,30.6042622 C34.6053104,26.4540711 40.2968401,29.0118754 42.0571429,30.0754685 L42.0571429,9.64429964 Z" id="Combined-Shape" fill="#BBBBBB"></path>
    </g>
</svg></div><div class="dropdown--link--text">イベント作成</div></a></div></div><div class="dropdown" id="dropdown_user"><div class="dropdown--block"><div class="dropdown--header">プロフィール</div><a class="dropdown--link" href="/users/130973"><div class="dropdown--link--image"><img class="circle-clip" src="https://d3r48p4ajaoh51.cloudfront.net/production/uploads/user/image/130973/762f1dba-3058-4561-ac2c-8ab2211eebdd.jpg" alt="762f1dba 3058 4561 ac2c 8ab2211eebdd" /></div><div class="dropdown--link--text">am_441_game</div></a></div><div class="dropdown--block"><div class="dropdown--header">所属チーム</div></div><div class="dropdown--block"><div class="dropdown--header">主催イベント</div></div><div class="dropdown--block"><div class="dropdown--header">参加イベント</div></div><div class="dropdown--block"><div class="dropdown--header">設定</div><a class="dropdown--link" href="/my/mutes"><div class="dropdown--link--image"><span class="icon fa fa-bell-slash"></span></div><div class="dropdown--link--text">ミュート管理</div></a><a class="dropdown--link" data-method="delete" href="/users/sign_out"><div class="dropdown--link--image"><span class="icon icon-menu-logout"></span></div><div class="dropdown--link--text">ログアウト</div></a></div><div class="dropdown_row copyright"><p class="h1_text">スプラトゥーン2のコミュニティサイト &quot;イカナカマ2&quot;</p><p>Copyright© sikmi Inc. All Rights Reserved.</p><p><span>Powered by BONDO</span></p></div></div><div id="contents"><div class="global_nav"><div class="global_nav--inner"><a class="color global_nav--link" href="/posts"><div class="global_nav--link--inner">投稿</div></a><a class="color global_nav--link" href="/users"><div class="global_nav--link--inner">プレイヤー</div></a><a class="color global_nav--link" href="/teams"><div class="global_nav--link--inner">チーム</div></a><a class="color global_nav--link" href="/twitter_widgets"><div class="global_nav--link--inner">話題</div></a><a class="color global_nav--link" href="/events"><div class="global_nav--link--inner">イベント</div></a></div></div><div class="local_contents"><div class="main_content"><h1>プロフィール設定</h1><hr class="full" /><div class="edit_container"><form novalidate="novalidate" class="simple_form edit_user" id="edit_user_130973" enctype="multipart/form-data" action="/users/130973" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="CYsZ6i3fgU6oZgefBmobPE6GsEaCn3A/xXKv0Xska9OgB/xl3f1S8COmBnI2mL0TZVbmH0mxjjisLE7fjF7G+A==" /><div class="form-group string required user_player_name"><label class="control-label string required" for="user_player_name"><span>プレイヤー名<small>（20文字以内）</small></span> <div class="label small darkgray">必須</div></label><input class="form-control string required" required="required" aria-required="true" type="text" value="am_441_game" name="user[player_name]" id="user_player_name" /></div><div class="form-group image_preview optional user_image"><label class="control-label image_preview optional" for="user_image"><span>アイコン</span></label><div class='preview not_default'><img src='https://d3r48p4ajaoh51.cloudfront.net/production/uploads/user/image/130973/762f1dba-3058-4561-ac2c-8ab2211eebdd.jpg' /></div><label class='input_file_dummy'><div class='button small'>ファイルを選択</div><div class='file_name'>選択されていません。</div></label><input type="hidden" name="user[image_cache]" id="user_image_cache" /><input onchange="preview_user_image(this)" class="image_preview optional" type="file" name="user[image]" id="user_image" /></div><div class="form-group image_preview optional user_background_image"><label class="control-label image_preview optional" for="user_background_image"><span>カバー画像</span></label><div class='preview not_default'><img src='https://d3r48p4ajaoh51.cloudfront.net/production/uploads/user/background_image/130973/de5d5b2d-2e57-41e1-8da7-69f3812cbfeb.jpg' /></div><label class='input_file_dummy'><div class='button small'>ファイルを選択</div><div class='file_name'>選択されていません。</div></label><input type="hidden" name="user[background_image_cache]" id="user_background_image_cache" /><input onchange="preview_user_background_image(this)" class="image_preview optional" type="file" name="user[background_image]" id="user_background_image" /></div><div class="form-group select optional user_recruitment"><label class="control-label select optional" for="user_recruitment"><span>チームスカウト受付状態</span></label><select class="form-control select optional" name="user[recruitment]" id="user_recruitment"><option value="open">スカウト受付中</option>
<option selected="selected" value="close">スカウト受付なし</option></select></div><div class="form-group select optional user_state"><label class="control-label select optional" for="user_state"><span>ユーザーページへの掲載</span></label><select class="form-control select optional" name="user[state]" id="user_state"><option selected="selected" value="active">掲載する</option>
<option value="pending">掲載しない</option></select></div><div class="form-group select optional user_comment_visibility"><label class="control-label select optional" for="user_comment_visibility"><span>コメント公開設定</span></label><select class="form-control select optional" name="user[comment_visibility]" id="user_comment_visibility"><option selected="selected" value="public">公開 - 全体が閲覧可能です</option>
<option value="private">非公開 - 本人のみ閲覧可能です</option></select></div><div class="form_for_custom_attributes"><div class="form-group"><label class="select optional control-label" for="select41"><span>ガチエリア</span></label><div class="form-group select optional user_custom_attributes" data-fields="&lt;div class=&quot;custom_attribute_select_container&quot;&gt;&lt;div class=&quot;custom_attribute_select_field&quot;&gt;&lt;input value=&quot;41&quot; type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226403402320][attribute_key_id]&quot; id=&quot;user_custom_attributes_attributes_226403402320_attribute_key_id&quot; /&gt;&lt;input type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226403402320][id]&quot; id=&quot;user_custom_attributes_attributes_226403402320_id&quot; /&gt;&lt;input class=&quot;destroy_ca&quot; type=&quot;hidden&quot; value=&quot;false&quot; name=&quot;user[custom_attributes_attributes][226403402320][_destroy]&quot; id=&quot;user_custom_attributes_attributes_226403402320__destroy&quot; /&gt;&lt;select class=&quot;select optional form-control select_custom_attribute_value&quot; id=&quot;select41&quot; name=&quot;user[custom_attributes_attributes][226403402320][attribute_value_id]&quot;&gt;&lt;option value=&quot;&quot;&gt;未選択&lt;/option&gt;&lt;option value=&quot;13212&quot;&gt;C-&lt;/option&gt;&lt;option value=&quot;13213&quot;&gt;C&lt;/option&gt;&lt;option value=&quot;13214&quot;&gt;C+&lt;/option&gt;&lt;option value=&quot;13215&quot;&gt;B-&lt;/option&gt;&lt;option value=&quot;13216&quot;&gt;B&lt;/option&gt;&lt;option value=&quot;13217&quot;&gt;B+&lt;/option&gt;&lt;option value=&quot;13218&quot;&gt;A-&lt;/option&gt;&lt;option value=&quot;13219&quot;&gt;A&lt;/option&gt;&lt;option value=&quot;13220&quot;&gt;A+&lt;/option&gt;&lt;option value=&quot;13221&quot;&gt;S&lt;/option&gt;&lt;option value=&quot;13222&quot;&gt;S+&lt;/option&gt;&lt;option value=&quot;13223&quot;&gt;S+50&lt;/option&gt;&lt;/select&gt;&lt;a class=&quot;button gray button_destroy&quot; href=&quot;javascript:void(0);&quot;&gt;削除&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;" data-id="226403402320" data-max="1"><div class="has-error"><div class="help-block"></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="41" type="hidden" name="user[custom_attributes_attributes][0][attribute_key_id]" id="user_custom_attributes_attributes_0_attribute_key_id" /><input value="431174" type="hidden" name="user[custom_attributes_attributes][0][id]" id="user_custom_attributes_attributes_0_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][0][_destroy]" id="user_custom_attributes_attributes_0__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select41431174" data-id="431174" name="user[custom_attributes_attributes][0][attribute_value_id]"><option value="">未選択</option>
<option value="13212">C-</option>
<option value="13213">C</option>
<option value="13214">C+</option>
<option value="13215">B-</option>
<option value="13216">B</option>
<option value="13217">B+</option>
<option value="13218">A-</option>
<option value="13219">A</option>
<option value="13220">A+</option>
<option value="13221">S</option>
<option selected="selected" value="13222">S+</option>
<option value="13223">S+50</option></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div></div></div><div class="form-group"><label class="select optional control-label" for="select42"><span>ガチヤグラ</span></label><div class="form-group select optional user_custom_attributes" data-fields="&lt;div class=&quot;custom_attribute_select_container&quot;&gt;&lt;div class=&quot;custom_attribute_select_field&quot;&gt;&lt;input value=&quot;42&quot; type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226399966880][attribute_key_id]&quot; id=&quot;user_custom_attributes_attributes_226399966880_attribute_key_id&quot; /&gt;&lt;input type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226399966880][id]&quot; id=&quot;user_custom_attributes_attributes_226399966880_id&quot; /&gt;&lt;input class=&quot;destroy_ca&quot; type=&quot;hidden&quot; value=&quot;false&quot; name=&quot;user[custom_attributes_attributes][226399966880][_destroy]&quot; id=&quot;user_custom_attributes_attributes_226399966880__destroy&quot; /&gt;&lt;select class=&quot;select optional form-control select_custom_attribute_value&quot; id=&quot;select42&quot; name=&quot;user[custom_attributes_attributes][226399966880][attribute_value_id]&quot;&gt;&lt;option value=&quot;&quot;&gt;未選択&lt;/option&gt;&lt;option value=&quot;13224&quot;&gt;C-&lt;/option&gt;&lt;option value=&quot;13225&quot;&gt;C&lt;/option&gt;&lt;option value=&quot;13226&quot;&gt;C+&lt;/option&gt;&lt;option value=&quot;13227&quot;&gt;B-&lt;/option&gt;&lt;option value=&quot;13228&quot;&gt;B&lt;/option&gt;&lt;option value=&quot;13229&quot;&gt;B+&lt;/option&gt;&lt;option value=&quot;13230&quot;&gt;A-&lt;/option&gt;&lt;option value=&quot;13231&quot;&gt;A&lt;/option&gt;&lt;option value=&quot;13232&quot;&gt;A+&lt;/option&gt;&lt;option value=&quot;13233&quot;&gt;S&lt;/option&gt;&lt;option value=&quot;13234&quot;&gt;S+&lt;/option&gt;&lt;option value=&quot;13235&quot;&gt;S+50&lt;/option&gt;&lt;/select&gt;&lt;a class=&quot;button gray button_destroy&quot; href=&quot;javascript:void(0);&quot;&gt;削除&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;" data-id="226399966880" data-max="1"><div class="has-error"><div class="help-block"></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="42" type="hidden" name="user[custom_attributes_attributes][1][attribute_key_id]" id="user_custom_attributes_attributes_1_attribute_key_id" /><input value="431175" type="hidden" name="user[custom_attributes_attributes][1][id]" id="user_custom_attributes_attributes_1_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][1][_destroy]" id="user_custom_attributes_attributes_1__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select42431175" data-id="431175" name="user[custom_attributes_attributes][1][attribute_value_id]"><option value="">未選択</option>
<option value="13224">C-</option>
<option value="13225">C</option>
<option value="13226">C+</option>
<option value="13227">B-</option>
<option value="13228">B</option>
<option value="13229">B+</option>
<option value="13230">A-</option>
<option value="13231">A</option>
<option value="13232">A+</option>
<option value="13233">S</option>
<option selected="selected" value="13234">S+</option>
<option value="13235">S+50</option></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div></div></div><div class="form-group"><label class="select optional control-label" for="select43"><span>ガチホコ</span></label><div class="form-group select optional user_custom_attributes" data-fields="&lt;div class=&quot;custom_attribute_select_container&quot;&gt;&lt;div class=&quot;custom_attribute_select_field&quot;&gt;&lt;input value=&quot;43&quot; type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226398895240][attribute_key_id]&quot; id=&quot;user_custom_attributes_attributes_226398895240_attribute_key_id&quot; /&gt;&lt;input type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226398895240][id]&quot; id=&quot;user_custom_attributes_attributes_226398895240_id&quot; /&gt;&lt;input class=&quot;destroy_ca&quot; type=&quot;hidden&quot; value=&quot;false&quot; name=&quot;user[custom_attributes_attributes][226398895240][_destroy]&quot; id=&quot;user_custom_attributes_attributes_226398895240__destroy&quot; /&gt;&lt;select class=&quot;select optional form-control select_custom_attribute_value&quot; id=&quot;select43&quot; name=&quot;user[custom_attributes_attributes][226398895240][attribute_value_id]&quot;&gt;&lt;option value=&quot;&quot;&gt;未選択&lt;/option&gt;&lt;option value=&quot;13236&quot;&gt;C-&lt;/option&gt;&lt;option value=&quot;13237&quot;&gt;C&lt;/option&gt;&lt;option value=&quot;13238&quot;&gt;C+&lt;/option&gt;&lt;option value=&quot;13239&quot;&gt;B-&lt;/option&gt;&lt;option value=&quot;13240&quot;&gt;B&lt;/option&gt;&lt;option value=&quot;13241&quot;&gt;B+&lt;/option&gt;&lt;option value=&quot;13242&quot;&gt;A-&lt;/option&gt;&lt;option value=&quot;13243&quot;&gt;A&lt;/option&gt;&lt;option value=&quot;13244&quot;&gt;A+&lt;/option&gt;&lt;option value=&quot;13245&quot;&gt;S&lt;/option&gt;&lt;option value=&quot;13246&quot;&gt;S+&lt;/option&gt;&lt;option value=&quot;13247&quot;&gt;S+50&lt;/option&gt;&lt;/select&gt;&lt;a class=&quot;button gray button_destroy&quot; href=&quot;javascript:void(0);&quot;&gt;削除&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;" data-id="226398895240" data-max="1"><div class="has-error"><div class="help-block"></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="43" type="hidden" name="user[custom_attributes_attributes][2][attribute_key_id]" id="user_custom_attributes_attributes_2_attribute_key_id" /><input value="431176" type="hidden" name="user[custom_attributes_attributes][2][id]" id="user_custom_attributes_attributes_2_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][2][_destroy]" id="user_custom_attributes_attributes_2__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select43431176" data-id="431176" name="user[custom_attributes_attributes][2][attribute_value_id]"><option value="">未選択</option>
<option value="13236">C-</option>
<option value="13237">C</option>
<option value="13238">C+</option>
<option value="13239">B-</option>
<option value="13240">B</option>
<option value="13241">B+</option>
<option value="13242">A-</option>
<option value="13243">A</option>
<option value="13244">A+</option>
<option value="13245">S</option>
<option selected="selected" value="13246">S+</option>
<option value="13247">S+50</option></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div></div></div><div class="form-group"><label class="select optional control-label" for="select56"><span>ガチアサリ</span></label><div class="form-group select optional user_custom_attributes" data-fields="&lt;div class=&quot;custom_attribute_select_container&quot;&gt;&lt;div class=&quot;custom_attribute_select_field&quot;&gt;&lt;input value=&quot;56&quot; type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226398521200][attribute_key_id]&quot; id=&quot;user_custom_attributes_attributes_226398521200_attribute_key_id&quot; /&gt;&lt;input type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226398521200][id]&quot; id=&quot;user_custom_attributes_attributes_226398521200_id&quot; /&gt;&lt;input class=&quot;destroy_ca&quot; type=&quot;hidden&quot; value=&quot;false&quot; name=&quot;user[custom_attributes_attributes][226398521200][_destroy]&quot; id=&quot;user_custom_attributes_attributes_226398521200__destroy&quot; /&gt;&lt;select class=&quot;select optional form-control select_custom_attribute_value&quot; id=&quot;select56&quot; name=&quot;user[custom_attributes_attributes][226398521200][attribute_value_id]&quot;&gt;&lt;option value=&quot;&quot;&gt;未選択&lt;/option&gt;&lt;option value=&quot;40919&quot;&gt;C-&lt;/option&gt;&lt;option value=&quot;40920&quot;&gt;C&lt;/option&gt;&lt;option value=&quot;40921&quot;&gt;C+&lt;/option&gt;&lt;option value=&quot;40922&quot;&gt;B-&lt;/option&gt;&lt;option value=&quot;40923&quot;&gt;B&lt;/option&gt;&lt;option value=&quot;40924&quot;&gt;B+&lt;/option&gt;&lt;option value=&quot;40925&quot;&gt;A-&lt;/option&gt;&lt;option value=&quot;40926&quot;&gt;A&lt;/option&gt;&lt;option value=&quot;40927&quot;&gt;A+&lt;/option&gt;&lt;option value=&quot;40928&quot;&gt;S&lt;/option&gt;&lt;option value=&quot;40929&quot;&gt;S+&lt;/option&gt;&lt;option value=&quot;40930&quot;&gt;S+50&lt;/option&gt;&lt;/select&gt;&lt;a class=&quot;button gray button_destroy&quot; href=&quot;javascript:void(0);&quot;&gt;削除&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;" data-id="226398521200" data-max="1"><div class="has-error"><div class="help-block"></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="56" type="hidden" name="user[custom_attributes_attributes][3][attribute_key_id]" id="user_custom_attributes_attributes_3_attribute_key_id" /><input type="hidden" name="user[custom_attributes_attributes][3][id]" id="user_custom_attributes_attributes_3_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][3][_destroy]" id="user_custom_attributes_attributes_3__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select56" name="user[custom_attributes_attributes][3][attribute_value_id]"><option value="">未選択</option>
<option value="40919">C-</option>
<option value="40920">C</option>
<option value="40921">C+</option>
<option value="40922">B-</option>
<option value="40923">B</option>
<option value="40924">B+</option>
<option value="40925">A-</option>
<option value="40926">A</option>
<option value="40927">A+</option>
<option value="40928">S</option>
<option value="40929">S+</option>
<option value="40930">S+50</option></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div></div></div><input value="34" type="hidden" name="user[custom_attributes_attributes][4][attribute_key_id]" id="user_custom_attributes_attributes_4_attribute_key_id" /><input value="431177" type="hidden" name="user[custom_attributes_attributes][4][id]" id="user_custom_attributes_attributes_4_id" /><div class="form-group string optional user_custom_text"><label class="control-label string optional" for="user_custom_attributes_attributes_4_text"><span>フレンドコード</span></label><input class="form-control string optional" type="text" value="" name="user[custom_attributes_attributes][4][text]" id="user_custom_attributes_attributes_4_text" /></div><div class="form-group"><label class="select optional control-label" for="select36"><span>活動時間帯</span></label><div class="form-group select optional user_custom_attributes" data-fields="&lt;div class=&quot;custom_attribute_select_container&quot;&gt;&lt;div class=&quot;custom_attribute_select_field&quot;&gt;&lt;input value=&quot;36&quot; type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226397491600][attribute_key_id]&quot; id=&quot;user_custom_attributes_attributes_226397491600_attribute_key_id&quot; /&gt;&lt;input type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226397491600][id]&quot; id=&quot;user_custom_attributes_attributes_226397491600_id&quot; /&gt;&lt;input class=&quot;destroy_ca&quot; type=&quot;hidden&quot; value=&quot;false&quot; name=&quot;user[custom_attributes_attributes][226397491600][_destroy]&quot; id=&quot;user_custom_attributes_attributes_226397491600__destroy&quot; /&gt;&lt;select class=&quot;select optional form-control select_custom_attribute_value&quot; id=&quot;select36&quot; name=&quot;user[custom_attributes_attributes][226397491600][attribute_value_id]&quot;&gt;&lt;option value=&quot;&quot;&gt;未選択&lt;/option&gt;&lt;option value=&quot;10107&quot;&gt;早（03 - 07）&lt;/option&gt;&lt;option value=&quot;10108&quot;&gt;朝（07 - 11）&lt;/option&gt;&lt;option value=&quot;10109&quot;&gt;昼（11 - 15）&lt;/option&gt;&lt;option value=&quot;10110&quot;&gt;夕（15 - 19）&lt;/option&gt;&lt;option value=&quot;10111&quot;&gt;夜（19 - 23）&lt;/option&gt;&lt;option value=&quot;10112&quot;&gt;深（23 - 03）&lt;/option&gt;&lt;/select&gt;&lt;a class=&quot;button gray button_destroy&quot; href=&quot;javascript:void(0);&quot;&gt;削除&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;" data-id="226397491600" data-max="3"><div class="has-error"><div class="help-block"></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="36" type="hidden" name="user[custom_attributes_attributes][5][attribute_key_id]" id="user_custom_attributes_attributes_5_attribute_key_id" /><input value="431172" type="hidden" name="user[custom_attributes_attributes][5][id]" id="user_custom_attributes_attributes_5_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][5][_destroy]" id="user_custom_attributes_attributes_5__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select36431172" data-id="431172" name="user[custom_attributes_attributes][5][attribute_value_id]"><option value="">未選択</option>
<option value="10107">早（03 - 07）</option>
<option value="10108">朝（07 - 11）</option>
<option value="10109">昼（11 - 15）</option>
<option value="10110">夕（15 - 19）</option>
<option selected="selected" value="10111">夜（19 - 23）</option>
<option value="10112">深（23 - 03）</option></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="36" type="hidden" name="user[custom_attributes_attributes][6][attribute_key_id]" id="user_custom_attributes_attributes_6_attribute_key_id" /><input value="431173" type="hidden" name="user[custom_attributes_attributes][6][id]" id="user_custom_attributes_attributes_6_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][6][_destroy]" id="user_custom_attributes_attributes_6__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select36431173" data-id="431173" name="user[custom_attributes_attributes][6][attribute_value_id]"><option value="">未選択</option>
<option value="10107">早（03 - 07）</option>
<option value="10108">朝（07 - 11）</option>
<option value="10109">昼（11 - 15）</option>
<option value="10110">夕（15 - 19）</option>
<option value="10111">夜（19 - 23）</option>
<option selected="selected" value="10112">深（23 - 03）</option></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div></div></div><div class="form-group"><label class="select optional control-label" for="select33"><span>よく使うブキ</span></label><div class="form-group select optional user_custom_attributes" data-fields="&lt;div class=&quot;custom_attribute_select_container&quot;&gt;&lt;div class=&quot;custom_attribute_select_field&quot;&gt;&lt;input value=&quot;33&quot; type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226396625240][attribute_key_id]&quot; id=&quot;user_custom_attributes_attributes_226396625240_attribute_key_id&quot; /&gt;&lt;input type=&quot;hidden&quot; name=&quot;user[custom_attributes_attributes][226396625240][id]&quot; id=&quot;user_custom_attributes_attributes_226396625240_id&quot; /&gt;&lt;input class=&quot;destroy_ca&quot; type=&quot;hidden&quot; value=&quot;false&quot; name=&quot;user[custom_attributes_attributes][226396625240][_destroy]&quot; id=&quot;user_custom_attributes_attributes_226396625240__destroy&quot; /&gt;&lt;select class=&quot;select optional form-control select_custom_attribute_value&quot; id=&quot;select33&quot; name=&quot;user[custom_attributes_attributes][226396625240][attribute_value_id]&quot;&gt;&lt;option value=&quot;&quot;&gt;未選択&lt;/option&gt;&lt;optgroup label=&quot;シューター&quot;&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10137&quot;&gt;わかばシューター&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10138&quot;&gt;もみじシューター&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10139&quot;&gt;スプラシューター&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10140&quot;&gt;ヒーローシューターレプリカ&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10141&quot;&gt;スプラシューターコラボ&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10142&quot;&gt;オクタシューター&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10143&quot;&gt;スプラシュターワサビ&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10144&quot;&gt;プロモデラーMG&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10145&quot;&gt;プロモデラーRG&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10146&quot;&gt;プロモデラーPG&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10147&quot;&gt;.52ガロン&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10148&quot;&gt;.52ガロンデコ&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10149&quot;&gt;.96ガロン&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10150&quot;&gt;.96ガロンデコ&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10151&quot;&gt;プライムシューター&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10152&quot;&gt;プライムシューターコラボ&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10153&quot;&gt;プライムシューターベリー&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10235&quot;&gt;ジェットスイーパー&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10236&quot;&gt;ジェットスイーパーカスタム&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10156&quot;&gt;N-ZAP85&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10157&quot;&gt;N-ZAP89&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10158&quot;&gt;N-ZAP83&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10159&quot;&gt;シャープマーカー&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10160&quot;&gt;シャープマーカーネオ&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10161&quot;&gt;ボールドマーカー&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10162&quot;&gt;ボールドマーカーネオ&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10163&quot;&gt;ボールドマーカー7&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10164&quot;&gt;L3リールガン&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10165&quot;&gt;L3リールガンD&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10166&quot;&gt;H3リールガン&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10167&quot;&gt;H3リールガンD&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;10168&quot;&gt;H3リールガンチェリー&lt;/option&gt;&lt;option data-val=&quot;シューター&quot; value=&quot;40918&quot;&gt;ボトルガイザー&lt;/option&gt;&lt;/optgroup&gt;&lt;optgroup label=&quot;ブラスター&quot;&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10169&quot;&gt;ホットブラスター&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10170&quot;&gt;ホットブラスターカスタム&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10171&quot;&gt;ロングブラスター&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10172&quot;&gt;ロングブラスターカスタム&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10173&quot;&gt;ロングブラスターネクロ&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10174&quot;&gt;ラピッドブラスター&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10175&quot;&gt;ラピッドブラスターデコ&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10176&quot;&gt;Rブラスターエリート&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10177&quot;&gt;Rブラスターエリートデコ&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10178&quot;&gt;ノヴァブラスター&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;10179&quot;&gt;ノヴァブラスターネオ&lt;/option&gt;&lt;option data-val=&quot;ブラスター&quot; value=&quot;40865&quot;&gt;クラッシュブラスター&lt;/option&gt;&lt;/optgroup&gt;&lt;optgroup label=&quot;チャージャー&quot;&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10180&quot;&gt;スプラチャージャー&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10181&quot;&gt;ヒーローチャージャーレプリカ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10182&quot;&gt;スプラスコープ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10183&quot;&gt;スプラチャージャーワカメ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10184&quot;&gt;スプラスコープワカメ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10185&quot;&gt;スプラチャージャーベントー&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10186&quot;&gt;スプラスコープベントー&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;16194&quot;&gt;スプラチャージャーコラボ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;16195&quot;&gt;スプラスコープコラボ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10187&quot;&gt;スクイックリンα&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10188&quot;&gt;スクイックリンβ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10189&quot;&gt;スクイックリンγ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10190&quot;&gt;リッター3K&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10191&quot;&gt;3Kスコープ&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10192&quot;&gt;リッター3Kカスタム&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10193&quot;&gt;3Kスコープカスタム&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10194&quot;&gt;14式竹筒銃・甲&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10195&quot;&gt;14式竹筒銃・乙&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;10196&quot;&gt;14式竹筒銃・丙&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;16196&quot;&gt;ソイチューバー&lt;/option&gt;&lt;option data-val=&quot;チャージャー&quot; value=&quot;40931&quot;&gt;ソイチューバーカスタム&lt;/option&gt;&lt;/optgroup&gt;&lt;optgroup label=&quot;ローラー&quot;&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10197&quot;&gt;スプラローラー&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10198&quot;&gt;ヒーローローラーレプリカ&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10199&quot;&gt;スプラローラーコラボ&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10200&quot;&gt;スプラローラーコロコロ&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10201&quot;&gt;ダイナモローラー&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10202&quot;&gt;ダイナモローラーテスラ&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10203&quot;&gt;ダイナモローラーバーンド&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10204&quot;&gt;カーボンローラー&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10205&quot;&gt;カーボンローラーデコ&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;10206&quot;&gt;ヴァリアブルローラー&lt;/option&gt;&lt;option data-val=&quot;ローラー&quot; value=&quot;40864&quot;&gt;ヴァリアブルローラーフォイル&lt;/option&gt;&lt;/optgroup&gt;&lt;optgroup label=&quot;フデ&quot;&gt;&lt;option data-val=&quot;フデ&quot; value=&quot;10207&quot;&gt;パブロ&lt;/option&gt;&lt;option data-val=&quot;フデ&quot; value=&quot;10208&quot;&gt;パブロ・ヒュー&lt;/option&gt;&lt;option data-val=&quot;フデ&quot; value=&quot;10209&quot;&gt;パーマネント・パブロ&lt;/option&gt;&lt;option data-val=&quot;フデ&quot; value=&quot;10210&quot;&gt;ホクサイ&lt;/option&gt;&lt;option data-val=&quot;フデ&quot; value=&quot;10211&quot;&gt;ホクサイ・ヒュー&lt;/option&gt;&lt;/optgroup&gt;&lt;optgroup label=&quot;スピナー&quot;&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10212&quot;&gt;バレルスピナー&lt;/option&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10213&quot;&gt;ヒーロースピナーレプリカ&lt;/option&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10214&quot;&gt;バレルスピナーデコ&lt;/option&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10215&quot;&gt;バレルスピナーリミックス&lt;/option&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10216&quot;&gt;スプラスピナー&lt;/option&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10217&quot;&gt;スプラスピナーコラボ&lt;/option&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10218&quot;&gt;スプラスピナーリペア&lt;/option&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10219&quot;&gt;ハイドラント&lt;/option&gt;&lt;option data-val=&quot;スピナー&quot; value=&quot;10220&quot;&gt;ハイドラントカスタム&lt;/option&gt;&lt;/optgroup&gt;&lt;optgroup label=&quot;スロッシャー&quot;&gt;&lt;option data-val=&quot;スロッシャー&quot; value=&quot;10221&quot;&gt;バケットスロッシャー&lt;/option&gt;&lt;option data-val=&quot;スロッシャー&quot; value=&quot;10222&quot;&gt;バケットスロッシャーデコ&lt;/option&gt;&lt;option data-val=&quot;スロッシャー&quot; value=&quot;10223&quot;&gt;ヒーロースロッシャーレプリカ&lt;/option&gt;&lt;option data-val=&quot;スロッシャー&quot; value=&quot;10224&quot;&gt;バケットスロッシャーソーダ&lt;/option&gt;&lt;option data-val=&quot;スロッシャー&quot; value=&quot;10225&quot;&gt;ヒッセン&lt;/option&gt;&lt;option data-val=&quot;スロッシャー&quot; value=&quot;10226&quot;&gt;ヒッセン・ヒュー&lt;/option&gt;&lt;option data-val=&quot;スロッシャー&quot; value=&quot;10227&quot;&gt;スクリュースロッシャー&lt;/option&gt;&lt;option data-val=&quot;スロッシャー&quot; value=&quot;10228&quot;&gt;スクリュースロッシャーネオ&lt;/option&gt;&lt;/optgroup&gt;&lt;optgroup label=&quot;シェルター&quot;&gt;&lt;option data-val=&quot;シェルター&quot; value=&quot;10237&quot;&gt;パラシェルター&lt;/option&gt;&lt;option data-val=&quot;シェルター&quot; value=&quot;40866&quot;&gt;キャンピングシェルター&lt;/option&gt;&lt;/optgroup&gt;&lt;optgroup label=&quot;マニューバー&quot;&gt;&lt;option data-val=&quot;マニューバー&quot; value=&quot;10238&quot;&gt;スプラマニューバー&lt;/option&gt;&lt;option data-val=&quot;マニューバー&quot; value=&quot;40867&quot;&gt;スプラマニューバーコラボ&lt;/option&gt;&lt;option data-val=&quot;マニューバー&quot; value=&quot;10154&quot;&gt;デュアルスイーパー&lt;/option&gt;&lt;option data-val=&quot;マニューバー&quot; value=&quot;10155&quot;&gt;デュアルスイーパーカスタム&lt;/option&gt;&lt;option data-val=&quot;マニューバー&quot; value=&quot;10239&quot;&gt;スパッタリー&lt;/option&gt;&lt;option data-val=&quot;マニューバー&quot; value=&quot;40868&quot;&gt;ケルビン525&lt;/option&gt;&lt;/optgroup&gt;&lt;/select&gt;&lt;a class=&quot;button gray button_destroy&quot; href=&quot;javascript:void(0);&quot;&gt;削除&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;" data-id="226396625240" data-max="3"><div class="has-error"><div class="help-block"></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="33" type="hidden" name="user[custom_attributes_attributes][7][attribute_key_id]" id="user_custom_attributes_attributes_7_attribute_key_id" /><input value="431178" type="hidden" name="user[custom_attributes_attributes][7][id]" id="user_custom_attributes_attributes_7_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][7][_destroy]" id="user_custom_attributes_attributes_7__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select33431178" data-id="431178" name="user[custom_attributes_attributes][7][attribute_value_id]"><option value="">未選択</option>
<optgroup label="シューター"><option data-val="シューター" value="10137">わかばシューター</option>
<option data-val="シューター" value="10138">もみじシューター</option>
<option data-val="シューター" value="10139">スプラシューター</option>
<option data-val="シューター" selected="selected" value="10140">ヒーローシューターレプリカ</option>
<option data-val="シューター" value="10141">スプラシューターコラボ</option>
<option data-val="シューター" value="10142">オクタシューター</option>
<option data-val="シューター" value="10143">スプラシュターワサビ</option>
<option data-val="シューター" value="10144">プロモデラーMG</option>
<option data-val="シューター" value="10145">プロモデラーRG</option>
<option data-val="シューター" value="10146">プロモデラーPG</option>
<option data-val="シューター" value="10147">.52ガロン</option>
<option data-val="シューター" value="10148">.52ガロンデコ</option>
<option data-val="シューター" value="10149">.96ガロン</option>
<option data-val="シューター" value="10150">.96ガロンデコ</option>
<option data-val="シューター" value="10151">プライムシューター</option>
<option data-val="シューター" value="10152">プライムシューターコラボ</option>
<option data-val="シューター" value="10153">プライムシューターベリー</option>
<option data-val="シューター" value="10235">ジェットスイーパー</option>
<option data-val="シューター" value="10236">ジェットスイーパーカスタム</option>
<option data-val="シューター" value="10156">N-ZAP85</option>
<option data-val="シューター" value="10157">N-ZAP89</option>
<option data-val="シューター" value="10158">N-ZAP83</option>
<option data-val="シューター" value="10159">シャープマーカー</option>
<option data-val="シューター" value="10160">シャープマーカーネオ</option>
<option data-val="シューター" value="10161">ボールドマーカー</option>
<option data-val="シューター" value="10162">ボールドマーカーネオ</option>
<option data-val="シューター" value="10163">ボールドマーカー7</option>
<option data-val="シューター" value="10164">L3リールガン</option>
<option data-val="シューター" value="10165">L3リールガンD</option>
<option data-val="シューター" value="10166">H3リールガン</option>
<option data-val="シューター" value="10167">H3リールガンD</option>
<option data-val="シューター" value="10168">H3リールガンチェリー</option>
<option data-val="シューター" value="40918">ボトルガイザー</option></optgroup><optgroup label="ブラスター"><option data-val="ブラスター" value="10169">ホットブラスター</option>
<option data-val="ブラスター" value="10170">ホットブラスターカスタム</option>
<option data-val="ブラスター" value="10171">ロングブラスター</option>
<option data-val="ブラスター" value="10172">ロングブラスターカスタム</option>
<option data-val="ブラスター" value="10173">ロングブラスターネクロ</option>
<option data-val="ブラスター" value="10174">ラピッドブラスター</option>
<option data-val="ブラスター" value="10175">ラピッドブラスターデコ</option>
<option data-val="ブラスター" value="10176">Rブラスターエリート</option>
<option data-val="ブラスター" value="10177">Rブラスターエリートデコ</option>
<option data-val="ブラスター" value="10178">ノヴァブラスター</option>
<option data-val="ブラスター" value="10179">ノヴァブラスターネオ</option>
<option data-val="ブラスター" value="40865">クラッシュブラスター</option></optgroup><optgroup label="チャージャー"><option data-val="チャージャー" value="10180">スプラチャージャー</option>
<option data-val="チャージャー" value="10181">ヒーローチャージャーレプリカ</option>
<option data-val="チャージャー" value="10182">スプラスコープ</option>
<option data-val="チャージャー" value="10183">スプラチャージャーワカメ</option>
<option data-val="チャージャー" value="10184">スプラスコープワカメ</option>
<option data-val="チャージャー" value="10185">スプラチャージャーベントー</option>
<option data-val="チャージャー" value="10186">スプラスコープベントー</option>
<option data-val="チャージャー" value="16194">スプラチャージャーコラボ</option>
<option data-val="チャージャー" value="16195">スプラスコープコラボ</option>
<option data-val="チャージャー" value="10187">スクイックリンα</option>
<option data-val="チャージャー" value="10188">スクイックリンβ</option>
<option data-val="チャージャー" value="10189">スクイックリンγ</option>
<option data-val="チャージャー" value="10190">リッター3K</option>
<option data-val="チャージャー" value="10191">3Kスコープ</option>
<option data-val="チャージャー" value="10192">リッター3Kカスタム</option>
<option data-val="チャージャー" value="10193">3Kスコープカスタム</option>
<option data-val="チャージャー" value="10194">14式竹筒銃・甲</option>
<option data-val="チャージャー" value="10195">14式竹筒銃・乙</option>
<option data-val="チャージャー" value="10196">14式竹筒銃・丙</option>
<option data-val="チャージャー" value="16196">ソイチューバー</option>
<option data-val="チャージャー" value="40931">ソイチューバーカスタム</option></optgroup><optgroup label="ローラー"><option data-val="ローラー" value="10197">スプラローラー</option>
<option data-val="ローラー" value="10198">ヒーローローラーレプリカ</option>
<option data-val="ローラー" value="10199">スプラローラーコラボ</option>
<option data-val="ローラー" value="10200">スプラローラーコロコロ</option>
<option data-val="ローラー" value="10201">ダイナモローラー</option>
<option data-val="ローラー" value="10202">ダイナモローラーテスラ</option>
<option data-val="ローラー" value="10203">ダイナモローラーバーンド</option>
<option data-val="ローラー" value="10204">カーボンローラー</option>
<option data-val="ローラー" value="10205">カーボンローラーデコ</option>
<option data-val="ローラー" value="10206">ヴァリアブルローラー</option>
<option data-val="ローラー" value="40864">ヴァリアブルローラーフォイル</option></optgroup><optgroup label="フデ"><option data-val="フデ" value="10207">パブロ</option>
<option data-val="フデ" value="10208">パブロ・ヒュー</option>
<option data-val="フデ" value="10209">パーマネント・パブロ</option>
<option data-val="フデ" value="10210">ホクサイ</option>
<option data-val="フデ" value="10211">ホクサイ・ヒュー</option></optgroup><optgroup label="スピナー"><option data-val="スピナー" value="10212">バレルスピナー</option>
<option data-val="スピナー" value="10213">ヒーロースピナーレプリカ</option>
<option data-val="スピナー" value="10214">バレルスピナーデコ</option>
<option data-val="スピナー" value="10215">バレルスピナーリミックス</option>
<option data-val="スピナー" value="10216">スプラスピナー</option>
<option data-val="スピナー" value="10217">スプラスピナーコラボ</option>
<option data-val="スピナー" value="10218">スプラスピナーリペア</option>
<option data-val="スピナー" value="10219">ハイドラント</option>
<option data-val="スピナー" value="10220">ハイドラントカスタム</option></optgroup><optgroup label="スロッシャー"><option data-val="スロッシャー" value="10221">バケットスロッシャー</option>
<option data-val="スロッシャー" value="10222">バケットスロッシャーデコ</option>
<option data-val="スロッシャー" value="10223">ヒーロースロッシャーレプリカ</option>
<option data-val="スロッシャー" value="10224">バケットスロッシャーソーダ</option>
<option data-val="スロッシャー" value="10225">ヒッセン</option>
<option data-val="スロッシャー" value="10226">ヒッセン・ヒュー</option>
<option data-val="スロッシャー" value="10227">スクリュースロッシャー</option>
<option data-val="スロッシャー" value="10228">スクリュースロッシャーネオ</option></optgroup><optgroup label="シェルター"><option data-val="シェルター" value="10237">パラシェルター</option>
<option data-val="シェルター" value="40866">キャンピングシェルター</option></optgroup><optgroup label="マニューバー"><option data-val="マニューバー" value="10238">スプラマニューバー</option>
<option data-val="マニューバー" value="40867">スプラマニューバーコラボ</option>
<option data-val="マニューバー" value="10154">デュアルスイーパー</option>
<option data-val="マニューバー" value="10155">デュアルスイーパーカスタム</option>
<option data-val="マニューバー" value="10239">スパッタリー</option>
<option data-val="マニューバー" value="40868">ケルビン525</option></optgroup></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="33" type="hidden" name="user[custom_attributes_attributes][8][attribute_key_id]" id="user_custom_attributes_attributes_8_attribute_key_id" /><input value="431179" type="hidden" name="user[custom_attributes_attributes][8][id]" id="user_custom_attributes_attributes_8_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][8][_destroy]" id="user_custom_attributes_attributes_8__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select33431179" data-id="431179" name="user[custom_attributes_attributes][8][attribute_value_id]"><option value="">未選択</option>
<optgroup label="シューター"><option data-val="シューター" value="10137">わかばシューター</option>
<option data-val="シューター" value="10138">もみじシューター</option>
<option data-val="シューター" value="10139">スプラシューター</option>
<option data-val="シューター" value="10140">ヒーローシューターレプリカ</option>
<option data-val="シューター" value="10141">スプラシューターコラボ</option>
<option data-val="シューター" value="10142">オクタシューター</option>
<option data-val="シューター" value="10143">スプラシュターワサビ</option>
<option data-val="シューター" value="10144">プロモデラーMG</option>
<option data-val="シューター" value="10145">プロモデラーRG</option>
<option data-val="シューター" value="10146">プロモデラーPG</option>
<option data-val="シューター" value="10147">.52ガロン</option>
<option data-val="シューター" value="10148">.52ガロンデコ</option>
<option data-val="シューター" value="10149">.96ガロン</option>
<option data-val="シューター" value="10150">.96ガロンデコ</option>
<option data-val="シューター" value="10151">プライムシューター</option>
<option data-val="シューター" value="10152">プライムシューターコラボ</option>
<option data-val="シューター" value="10153">プライムシューターベリー</option>
<option data-val="シューター" value="10235">ジェットスイーパー</option>
<option data-val="シューター" value="10236">ジェットスイーパーカスタム</option>
<option data-val="シューター" value="10156">N-ZAP85</option>
<option data-val="シューター" value="10157">N-ZAP89</option>
<option data-val="シューター" value="10158">N-ZAP83</option>
<option data-val="シューター" value="10159">シャープマーカー</option>
<option data-val="シューター" value="10160">シャープマーカーネオ</option>
<option data-val="シューター" value="10161">ボールドマーカー</option>
<option data-val="シューター" value="10162">ボールドマーカーネオ</option>
<option data-val="シューター" value="10163">ボールドマーカー7</option>
<option data-val="シューター" value="10164">L3リールガン</option>
<option data-val="シューター" value="10165">L3リールガンD</option>
<option data-val="シューター" value="10166">H3リールガン</option>
<option data-val="シューター" value="10167">H3リールガンD</option>
<option data-val="シューター" value="10168">H3リールガンチェリー</option>
<option data-val="シューター" value="40918">ボトルガイザー</option></optgroup><optgroup label="ブラスター"><option data-val="ブラスター" value="10169">ホットブラスター</option>
<option data-val="ブラスター" value="10170">ホットブラスターカスタム</option>
<option data-val="ブラスター" value="10171">ロングブラスター</option>
<option data-val="ブラスター" value="10172">ロングブラスターカスタム</option>
<option data-val="ブラスター" value="10173">ロングブラスターネクロ</option>
<option data-val="ブラスター" value="10174">ラピッドブラスター</option>
<option data-val="ブラスター" value="10175">ラピッドブラスターデコ</option>
<option data-val="ブラスター" value="10176">Rブラスターエリート</option>
<option data-val="ブラスター" value="10177">Rブラスターエリートデコ</option>
<option data-val="ブラスター" value="10178">ノヴァブラスター</option>
<option data-val="ブラスター" value="10179">ノヴァブラスターネオ</option>
<option data-val="ブラスター" value="40865">クラッシュブラスター</option></optgroup><optgroup label="チャージャー"><option data-val="チャージャー" value="10180">スプラチャージャー</option>
<option data-val="チャージャー" value="10181">ヒーローチャージャーレプリカ</option>
<option data-val="チャージャー" value="10182">スプラスコープ</option>
<option data-val="チャージャー" value="10183">スプラチャージャーワカメ</option>
<option data-val="チャージャー" value="10184">スプラスコープワカメ</option>
<option data-val="チャージャー" value="10185">スプラチャージャーベントー</option>
<option data-val="チャージャー" value="10186">スプラスコープベントー</option>
<option data-val="チャージャー" value="16194">スプラチャージャーコラボ</option>
<option data-val="チャージャー" value="16195">スプラスコープコラボ</option>
<option data-val="チャージャー" value="10187">スクイックリンα</option>
<option data-val="チャージャー" value="10188">スクイックリンβ</option>
<option data-val="チャージャー" value="10189">スクイックリンγ</option>
<option data-val="チャージャー" value="10190">リッター3K</option>
<option data-val="チャージャー" value="10191">3Kスコープ</option>
<option data-val="チャージャー" value="10192">リッター3Kカスタム</option>
<option data-val="チャージャー" value="10193">3Kスコープカスタム</option>
<option data-val="チャージャー" value="10194">14式竹筒銃・甲</option>
<option data-val="チャージャー" value="10195">14式竹筒銃・乙</option>
<option data-val="チャージャー" value="10196">14式竹筒銃・丙</option>
<option data-val="チャージャー" value="16196">ソイチューバー</option>
<option data-val="チャージャー" value="40931">ソイチューバーカスタム</option></optgroup><optgroup label="ローラー"><option data-val="ローラー" value="10197">スプラローラー</option>
<option data-val="ローラー" value="10198">ヒーローローラーレプリカ</option>
<option data-val="ローラー" value="10199">スプラローラーコラボ</option>
<option data-val="ローラー" value="10200">スプラローラーコロコロ</option>
<option data-val="ローラー" value="10201">ダイナモローラー</option>
<option data-val="ローラー" value="10202">ダイナモローラーテスラ</option>
<option data-val="ローラー" value="10203">ダイナモローラーバーンド</option>
<option data-val="ローラー" value="10204">カーボンローラー</option>
<option data-val="ローラー" value="10205">カーボンローラーデコ</option>
<option data-val="ローラー" value="10206">ヴァリアブルローラー</option>
<option data-val="ローラー" value="40864">ヴァリアブルローラーフォイル</option></optgroup><optgroup label="フデ"><option data-val="フデ" value="10207">パブロ</option>
<option data-val="フデ" value="10208">パブロ・ヒュー</option>
<option data-val="フデ" value="10209">パーマネント・パブロ</option>
<option data-val="フデ" value="10210">ホクサイ</option>
<option data-val="フデ" value="10211">ホクサイ・ヒュー</option></optgroup><optgroup label="スピナー"><option data-val="スピナー" value="10212">バレルスピナー</option>
<option data-val="スピナー" value="10213">ヒーロースピナーレプリカ</option>
<option data-val="スピナー" value="10214">バレルスピナーデコ</option>
<option data-val="スピナー" value="10215">バレルスピナーリミックス</option>
<option data-val="スピナー" value="10216">スプラスピナー</option>
<option data-val="スピナー" value="10217">スプラスピナーコラボ</option>
<option data-val="スピナー" value="10218">スプラスピナーリペア</option>
<option data-val="スピナー" value="10219">ハイドラント</option>
<option data-val="スピナー" value="10220">ハイドラントカスタム</option></optgroup><optgroup label="スロッシャー"><option data-val="スロッシャー" value="10221">バケットスロッシャー</option>
<option data-val="スロッシャー" value="10222">バケットスロッシャーデコ</option>
<option data-val="スロッシャー" value="10223">ヒーロースロッシャーレプリカ</option>
<option data-val="スロッシャー" value="10224">バケットスロッシャーソーダ</option>
<option data-val="スロッシャー" value="10225">ヒッセン</option>
<option data-val="スロッシャー" value="10226">ヒッセン・ヒュー</option>
<option data-val="スロッシャー" value="10227">スクリュースロッシャー</option>
<option data-val="スロッシャー" value="10228">スクリュースロッシャーネオ</option></optgroup><optgroup label="シェルター"><option data-val="シェルター" value="10237">パラシェルター</option>
<option data-val="シェルター" value="40866">キャンピングシェルター</option></optgroup><optgroup label="マニューバー"><option data-val="マニューバー" value="10238">スプラマニューバー</option>
<option data-val="マニューバー" value="40867">スプラマニューバーコラボ</option>
<option data-val="マニューバー" value="10154">デュアルスイーパー</option>
<option data-val="マニューバー" value="10155">デュアルスイーパーカスタム</option>
<option data-val="マニューバー" selected="selected" value="10239">スパッタリー</option>
<option data-val="マニューバー" value="40868">ケルビン525</option></optgroup></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div><div class="custom_attribute_select_container"><div class="custom_attribute_select_field"><input value="33" type="hidden" name="user[custom_attributes_attributes][9][attribute_key_id]" id="user_custom_attributes_attributes_9_attribute_key_id" /><input value="431180" type="hidden" name="user[custom_attributes_attributes][9][id]" id="user_custom_attributes_attributes_9_id" /><input class="destroy_ca" type="hidden" value="false" name="user[custom_attributes_attributes][9][_destroy]" id="user_custom_attributes_attributes_9__destroy" /><select class="select optional form-control select_custom_attribute_value" id="select33431180" data-id="431180" name="user[custom_attributes_attributes][9][attribute_value_id]"><option value="">未選択</option>
<optgroup label="シューター"><option data-val="シューター" value="10137">わかばシューター</option>
<option data-val="シューター" value="10138">もみじシューター</option>
<option data-val="シューター" value="10139">スプラシューター</option>
<option data-val="シューター" value="10140">ヒーローシューターレプリカ</option>
<option data-val="シューター" value="10141">スプラシューターコラボ</option>
<option data-val="シューター" value="10142">オクタシューター</option>
<option data-val="シューター" value="10143">スプラシュターワサビ</option>
<option data-val="シューター" value="10144">プロモデラーMG</option>
<option data-val="シューター" value="10145">プロモデラーRG</option>
<option data-val="シューター" value="10146">プロモデラーPG</option>
<option data-val="シューター" value="10147">.52ガロン</option>
<option data-val="シューター" value="10148">.52ガロンデコ</option>
<option data-val="シューター" value="10149">.96ガロン</option>
<option data-val="シューター" value="10150">.96ガロンデコ</option>
<option data-val="シューター" value="10151">プライムシューター</option>
<option data-val="シューター" value="10152">プライムシューターコラボ</option>
<option data-val="シューター" value="10153">プライムシューターベリー</option>
<option data-val="シューター" value="10235">ジェットスイーパー</option>
<option data-val="シューター" value="10236">ジェットスイーパーカスタム</option>
<option data-val="シューター" value="10156">N-ZAP85</option>
<option data-val="シューター" value="10157">N-ZAP89</option>
<option data-val="シューター" value="10158">N-ZAP83</option>
<option data-val="シューター" value="10159">シャープマーカー</option>
<option data-val="シューター" value="10160">シャープマーカーネオ</option>
<option data-val="シューター" value="10161">ボールドマーカー</option>
<option data-val="シューター" value="10162">ボールドマーカーネオ</option>
<option data-val="シューター" value="10163">ボールドマーカー7</option>
<option data-val="シューター" value="10164">L3リールガン</option>
<option data-val="シューター" value="10165">L3リールガンD</option>
<option data-val="シューター" value="10166">H3リールガン</option>
<option data-val="シューター" value="10167">H3リールガンD</option>
<option data-val="シューター" value="10168">H3リールガンチェリー</option>
<option data-val="シューター" value="40918">ボトルガイザー</option></optgroup><optgroup label="ブラスター"><option data-val="ブラスター" value="10169">ホットブラスター</option>
<option data-val="ブラスター" value="10170">ホットブラスターカスタム</option>
<option data-val="ブラスター" value="10171">ロングブラスター</option>
<option data-val="ブラスター" value="10172">ロングブラスターカスタム</option>
<option data-val="ブラスター" value="10173">ロングブラスターネクロ</option>
<option data-val="ブラスター" value="10174">ラピッドブラスター</option>
<option data-val="ブラスター" value="10175">ラピッドブラスターデコ</option>
<option data-val="ブラスター" value="10176">Rブラスターエリート</option>
<option data-val="ブラスター" value="10177">Rブラスターエリートデコ</option>
<option data-val="ブラスター" value="10178">ノヴァブラスター</option>
<option data-val="ブラスター" value="10179">ノヴァブラスターネオ</option>
<option data-val="ブラスター" value="40865">クラッシュブラスター</option></optgroup><optgroup label="チャージャー"><option data-val="チャージャー" value="10180">スプラチャージャー</option>
<option data-val="チャージャー" value="10181">ヒーローチャージャーレプリカ</option>
<option data-val="チャージャー" value="10182">スプラスコープ</option>
<option data-val="チャージャー" value="10183">スプラチャージャーワカメ</option>
<option data-val="チャージャー" value="10184">スプラスコープワカメ</option>
<option data-val="チャージャー" value="10185">スプラチャージャーベントー</option>
<option data-val="チャージャー" value="10186">スプラスコープベントー</option>
<option data-val="チャージャー" value="16194">スプラチャージャーコラボ</option>
<option data-val="チャージャー" value="16195">スプラスコープコラボ</option>
<option data-val="チャージャー" value="10187">スクイックリンα</option>
<option data-val="チャージャー" value="10188">スクイックリンβ</option>
<option data-val="チャージャー" value="10189">スクイックリンγ</option>
<option data-val="チャージャー" value="10190">リッター3K</option>
<option data-val="チャージャー" value="10191">3Kスコープ</option>
<option data-val="チャージャー" value="10192">リッター3Kカスタム</option>
<option data-val="チャージャー" value="10193">3Kスコープカスタム</option>
<option data-val="チャージャー" value="10194">14式竹筒銃・甲</option>
<option data-val="チャージャー" value="10195">14式竹筒銃・乙</option>
<option data-val="チャージャー" value="10196">14式竹筒銃・丙</option>
<option data-val="チャージャー" value="16196">ソイチューバー</option>
<option data-val="チャージャー" value="40931">ソイチューバーカスタム</option></optgroup><optgroup label="ローラー"><option data-val="ローラー" selected="selected" value="10197">スプラローラー</option>
<option data-val="ローラー" value="10198">ヒーローローラーレプリカ</option>
<option data-val="ローラー" value="10199">スプラローラーコラボ</option>
<option data-val="ローラー" value="10200">スプラローラーコロコロ</option>
<option data-val="ローラー" value="10201">ダイナモローラー</option>
<option data-val="ローラー" value="10202">ダイナモローラーテスラ</option>
<option data-val="ローラー" value="10203">ダイナモローラーバーンド</option>
<option data-val="ローラー" value="10204">カーボンローラー</option>
<option data-val="ローラー" value="10205">カーボンローラーデコ</option>
<option data-val="ローラー" value="10206">ヴァリアブルローラー</option>
<option data-val="ローラー" value="40864">ヴァリアブルローラーフォイル</option></optgroup><optgroup label="フデ"><option data-val="フデ" value="10207">パブロ</option>
<option data-val="フデ" value="10208">パブロ・ヒュー</option>
<option data-val="フデ" value="10209">パーマネント・パブロ</option>
<option data-val="フデ" value="10210">ホクサイ</option>
<option data-val="フデ" value="10211">ホクサイ・ヒュー</option></optgroup><optgroup label="スピナー"><option data-val="スピナー" value="10212">バレルスピナー</option>
<option data-val="スピナー" value="10213">ヒーロースピナーレプリカ</option>
<option data-val="スピナー" value="10214">バレルスピナーデコ</option>
<option data-val="スピナー" value="10215">バレルスピナーリミックス</option>
<option data-val="スピナー" value="10216">スプラスピナー</option>
<option data-val="スピナー" value="10217">スプラスピナーコラボ</option>
<option data-val="スピナー" value="10218">スプラスピナーリペア</option>
<option data-val="スピナー" value="10219">ハイドラント</option>
<option data-val="スピナー" value="10220">ハイドラントカスタム</option></optgroup><optgroup label="スロッシャー"><option data-val="スロッシャー" value="10221">バケットスロッシャー</option>
<option data-val="スロッシャー" value="10222">バケットスロッシャーデコ</option>
<option data-val="スロッシャー" value="10223">ヒーロースロッシャーレプリカ</option>
<option data-val="スロッシャー" value="10224">バケットスロッシャーソーダ</option>
<option data-val="スロッシャー" value="10225">ヒッセン</option>
<option data-val="スロッシャー" value="10226">ヒッセン・ヒュー</option>
<option data-val="スロッシャー" value="10227">スクリュースロッシャー</option>
<option data-val="スロッシャー" value="10228">スクリュースロッシャーネオ</option></optgroup><optgroup label="シェルター"><option data-val="シェルター" value="10237">パラシェルター</option>
<option data-val="シェルター" value="40866">キャンピングシェルター</option></optgroup><optgroup label="マニューバー"><option data-val="マニューバー" value="10238">スプラマニューバー</option>
<option data-val="マニューバー" value="40867">スプラマニューバーコラボ</option>
<option data-val="マニューバー" value="10154">デュアルスイーパー</option>
<option data-val="マニューバー" value="10155">デュアルスイーパーカスタム</option>
<option data-val="マニューバー" value="10239">スパッタリー</option>
<option data-val="マニューバー" value="40868">ケルビン525</option></optgroup></select><a class="button gray button_destroy" href="javascript:void(0);">削除</a></div></div></div></div><input value="35" type="hidden" name="user[custom_attributes_attributes][10][attribute_key_id]" id="user_custom_attributes_attributes_10_attribute_key_id" /><input value="431181" type="hidden" name="user[custom_attributes_attributes][10][id]" id="user_custom_attributes_attributes_10_id" /><div class="form-group string optional user_custom_text"><label class="control-label string optional" for="user_custom_attributes_attributes_10_text"><span>配信URL</span></label><input class="form-control string optional" type="text" value="" name="user[custom_attributes_attributes][10][text]" id="user_custom_attributes_attributes_10_text" /></div></div><div class="form-group ckeditor optional user_description"><label class="control-label ckeditor optional" for="user_description"><span>自己紹介文<small>（15000文字以内）</small></span></label><textarea class="form-control ckeditor optional" ckeditor="{:height=&gt;300}" name="user[description]" id="user_description">
はじめまして！&lt;br /&gt;
福岡住みの23歳あっきーです！&lt;br /&gt;
全ルールS+なってからはサボりがちだったのですが&lt;br /&gt;
本格的にリグマをやろうと思ってこれから&lt;br /&gt;
メンバーを集めたいなと思ってます！&lt;br /&gt;
エンジョイ勢なのでウデマエは&lt;br /&gt;
それなりであればいいかなと思ってます！&lt;br /&gt;
よろしくお願いします！</textarea></div><div class="buttons"><input type="submit" name="commit" value="この内容で変更" data-disable-with="送信中.." class="button" /><div class="button gray" data-modal="#delete_user">イカナカマ2から退会</div></div></form></div><div class="modal" id="delete_user"><div class="modal_content"><div class="title">退会</div><div class="text">イカナカマ2から退会しますか？</div><div class="text red">※退会したユーザーは元に戻せません。</div><div class="buttons"><div class="button gray close_modal_js">いいえ</div><form class="button_to" method="post" action="/users/130973"><input type="hidden" name="_method" value="delete" /><input class="button" type="submit" value="はい" /><input type="hidden" name="authenticity_token" value="L5sKksw3UqWEx8bv3cSNnjx/bRkLsxE82ryZG3m4CaDZwsSBrSU2jR+nkW3ij/lyxkZQVK25lCFtfYhnMbD72g==" /></form></div></div></div></div></div></div><div id="footer"><div class="footer_container"><div class="logo"><a class="logo" href="/"><img alt="イカナカマ2" src="https://d3r48p4ajaoh51.cloudfront.net/production/uploads/theme/logo/8/50a4d771-479e-42ed-9834-fff0559af449-logo.png" /></a></div><div class="title">イカナカマ2 とは</div><div class="description">イカナカマ2は スプラトゥーン2 のコミュニティサービスです。<br>
任天堂株式会社とは一切関係ありません。<br>
<br>
みんなで スプラトゥーン2 を楽しもう！マンメンミ！！</div></div><div class="breadcrumb"><a href="/">HOME</a> > プロフィール設定</div><div class="links"><a class="link" href="/qas">よくある質問</a><a class="link" href="/contact">お問い合わせ</a><a class="link" target="_blank" rel="noopener noreferrer" href="https://sikmi.com/privacy_policy">プライバシーポリシー</a><a class="link" href="/terms">利用規約</a><a class="link" target="_blank" rel="noopener noreferrer" href="https://sikmi.com">運営会社</a><a class="link" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a></div><div class="copyright">Copyright© sikmi Inc. All Rights Reserved.<br /><span>Powered by BONDO</span></div></div></div><div class="modal" id="login"><div class="modal_content"><div class="title">イカナカマ2に参加する</div><div class="text left">イカナカマ2への参加希望ありがとうございます！</div><div class="text left">参加の前に「<a class="color" href="/terms" target="_blank">利用規約</a>」をご一読ください。</div><div class="text left">また、イカナカマ2への参加には Twitter アカウントが必要となります。事前に Twitter アカウントの取得をお願い致します。</div><div class="text left">参加の準備が整いましたら、以下のボタンからご登録をお願い致します。</div><a class="button icon-button blue" href="/auth/twitter"><span class="icon icon-twitter"></span><span>利用規約に同意して登録</span></a></div></div><div class="modal" id="able_secede"><div class="modal_content"><div class="title">脱退</div><div class="text"><span class="team_name"></span>から脱退します。<br />よろしいですか？</div><div class="buttons"><div class="button gray close_modal_js">脱退しない</div></div></div></div><div class="modal" id="unable_secede"><div class="modal_content"><div class="title">脱退</div><div class="text left"><div class="red-text">現在、あなたしか管理者がいないため脱退することができません。</div>1チームにつき1人以上の管理者が必要です。脱退するには、他メンバーを管理者に指名する必要があります。</div></div></div><script src="//cdn.ckeditor.com/4.6.1/standard-all/ckeditor.js"></script><script>CKEDITOR.replaceClass = null;var root = '/production/assets/vendor/ckeditor/';var config_js = '/production/assets/ckeditor_config.800163952a9cf311b2d0.js';</script><script>// 今のところ不要だけど一応取得
var param = document.querySelector('meta[name="csrf-param"]').content;
var token = document.querySelector('meta[name="csrf-token"]').content;

(function() {
  if (typeof CKEDITOR != 'undefined') {
    CKEDITOR.plugins.addExternal( 'confighelper', root + 'plugins/confighelper/', 'plugin.js' );
    CKEDITOR.plugins.addExternal( 'youtube', root + 'plugins/youtube/', 'plugin.js' );
    CKEDITOR.plugins.addExternal( 'divarea', root + 'plugins/divarea/', 'plugin.js' );
    CKEDITOR.plugins.addExternal( 'tweet', root + 'plugins/tweet/', 'plugin.js' );

    var targets = document.querySelectorAll('textarea.ckeditor');
    [].forEach.call(targets, function(elm){
      if (elm.id !== undefined && CKEDITOR.instances[elm.id] === undefined) {
        instance = CKEDITOR.replace(elm.id, {"customConfig": config_js});

        // CSRFトークンをセット
        instance.on('fileUploadRequest', function (evt) {
          evt.data.requestData = {};
          evt.data.requestData[param] = token;

          // 管理ページならスコープを定義する
          if ( document.querySelector('#admin-layout') !== null ) {
            evt.data.requestData['scope'] = 'Admin';
          }
        }, null, null, 5);
      }
    });
  }
})();</script><script src="/production/assets/vendor/load-image/load-image.all.min.js"></script><script async="" charset="UTF-8" id="twitter-wjs" src="//platform.twitter.com/widgets.js"></script><script src="/production/assets/vendor/d3/d3.min.js"></script><script src="/production/assets/vendor/c3/c3.min.js"></script><script src="/production/assets/application.800163952a9cf311b2d0.js"></script></body></html>