<%= form_for(@micropost) do |f| %>
  <%= render 'devise/shared/error_messages', object: f.object %>
  <div class="form-group">
   <label for="title">タイトル</label>
   <input type="text" class="form-control" id="title">
  </div>

<%= f.select :content, [["Railsの基礎", "rails_base"], ["Rubyの基礎", "ruby_base"]] %>

  <div class="form-group">
   <label for="category">カテゴリー</label>
   <select class="form-control" id="category">
    <option value="open">未選択</option> 
    <option>募集</option>
    <option>攻略</option>
    <option>その他</option>
   </select>
  </div>
  
  <%= f.submit "Post", class: "btn btn-lg btn-primary" %>
<% end %>