<footer class="footer">
<nav>
    <ul>
      <li><%= link_to "MHWコミュニティとは？",   about_path %></li>
      <li><%= link_to "ヘルプ",    help_path %></li>
      <li><%= link_to "お問い合わせ", new_contact_path %></li>
      <li><%= link_to "News", new_path %></li>
    </ul>
  </nav>
</footer>